@import "tailwindcss";

.btn-black {
  @apply bg-black text-white font-bold py-2 px-4 rounded;
}

.card {
  @apply bg-white rounded shadow p-8;
}

.header {
  @apply shadow pt-2 pb-8;
}

.title {
  @apply text-5xl text-center font-bold leading-tight text-gray-900;
}

.subtitle {
  @apply text-3xl text-center font-bold leading-tight text-gray-700;
}

.post__markdown-content a {
  @apply underline;
}

.post__markdown-content blockquote {
  @apply border-l-2 pl-4;
}

.post__markdown-content p {
  @apply my-3;
}

.post__markdown-content h3 {
  @apply text-2xl font-bold leading-tight text-gray-900 mt-5 mb-3;
}

.post__markdown-content ol {
  list-style: decimal;
}

.post__markdown-content ul {
  list-style: circle;
}

.post__markdown-content ul li,
.post__markdown-content ol li {
  @apply mt-4 ml-5;
}

.post__markdown-content pre {
  @apply my-4 overflow-auto bg-gray-200 shadow p-2;
  word-wrap: normal;
}

.post__markdown-content li code,
.post__markdown-content p code {
  @apply bg-gray-200 shadow;
  word-break: break-all;
}
